.ficha {
  background-color: var(--fundo-card);
  padding: 20px;
  border-radius: 8px;
  grid-column: 2;

  .foto{
    width: 200px;
    aspect-ratio: 1/1;
    object-fit: cover;
    overflow: hidden;
    border-radius: 50%;
    border: 5px solid var(--fundo-card);
    outline: 5px solid var(--destaque);
    display: block;
    margin: 0 auto 15px; // shorthand para centralizar
  }

  h1 {
    color: var(--destaque);
    margin: 15px 0;
    font-size: 1.5em;
    text-align: left;
  }

  p{
    margin-bottom: 15px;
  }

  .social{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6em;
    gap: 1em;
    margin-top: 15px;

    a {
      color: var(--destaque);
      transition: color 0.5s;

      &:hover{
        color: var(--destaque-inverso);
      }
    }
  }
}