.footer {
  background-color: var(--destaque);
  color: var(--texto-inverso);
  text-align: center;
  padding: 15px;
  margin-top: 40px;

  a {
    color: var(--texto-inverso);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;

    &:hover {
      color: var(--destaque-inverso);
    }
  }
}
