.projetoContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .projeto {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: var(--fundo-principal);
    padding: 10px;
    border-radius: 8px;
    border-left: 5px solid var(--destaque-inverso);
    transition:
      border-color 0.5s,
      border-left-width 0.5s;

    &:hover {
      border-color: var(--destaque);
      border-left-width: 15px;
      cursor: pointer;
    }

    @media screen and (min-width: 768px) {
      flex-direction: row-reverse;
      justify-content: space-between;
    }

    .foto {
      width: 100%;
      aspect-ratio: 16 / 9;
      object-fit: cover;
      overflow: hidden;
      border-radius: 8px;

      @media screen and (min-width: 768px){
        aspect-ratio: 1 / 1;
        max-width: 20%;
        max-height: 200px;
      }
    }

    .projetoInfo {

      @media screen and (min-width: 768px) {
        width: 80%;
      }
      .periodo {
        font-size: 0.8em;
        font-weight: bold;
        color: var(--texto);
        margin-bottom: 5px;
      }

      .titulo {
        color: var(--destaque);
        font-size: 1.2em;
        margin-bottom: 5px;
      }

      p {
        color: var(--texto);
        font-size: 0.96em;
        line-height: 1.4;
      }

      .descricao {
        margin-top: 10px;

        summary {
          font-weight: bold;
          color: var(--destaque);
          cursor: pointer;
          outline: none;

          &:hover {
            color: var(--destaque-inverso);
          }
        }

        p {
          margin-top: 8px;
          font-size: 0.9em;
          background-color: var(--fundo-card);
          padding: 10px;
          border-radius: 4px;
        }
      }
    }
  }
}
